---
---

@import "{{ site.theme }}";
a {
  text-decoration: underline;
}

/* unvisited link */
a:link {
  color: #002546;
}

/* visited link */
a:visited {
  color: #002546;
}

/* mouse over link */
a:hover {
 color: #2b80a4;
}

/* selected link */
a:active {
  color: #002546;
} 
body {
 color: #000
}
