---
---

@import "{{ site.theme }}";
 /* unvisited link */
a:link {
  color: #002546;
}

/* visited link */
a:visited {
  color: #002546;
}

/* mouse over link */
a:hover {
 font-weight:normal
 text-decoration: underline;
 color: #2b80a4;
}

/* selected link */
a:active {
  color: #002546;
} 
body {
 color: #000
}
